/*** estilizando o conteúdo do clone do site DJ Sound ***/
body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

/*** formatando o cabeçahlho ***/
#cabecalho h1{
    padding: 0;
    margin-left: -3000px;
}

#cabecalho .logo{
    width: 270px;
    height: 69px;
    background: url(../images/lg_djsound.gif) no-repeat;
    float: left;
}

#cabecalho .banner-1{
    width: 530px;
    height: 69px;
    background: #7d7d7d url(../images/banner_50cent468x60.gif) no-repeat center;
    float: right; 
}

/*** formantando menu esquerdo ***/
#menu-left{
    width: 148px;
    height: 644px;
    float: left;
}

#menu-left p{
    font-size: 0.7em;
    color: orange;
}

#menu-left .menu-sections{
    font-size: 0.8em;
    font-weight: bold;
    font-family: Fixedsys, Arial, Helvetica, sans-serif;
}

#menu-left .menu-links{
    list-style: none;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 2px;
}

#menu-left .menu-links a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    color: #0404b4;
}

/* banners lateral esquerda */
#menu-left .edicao-18{
    margin-top: 5px;
}

#menu-left .edicao-18 .img-2{
    margin-top: -5px;
}

#menu-left .banner-world-music{
    margin-top: 5px;
}

#menu-left .banner-skol-beats{
    margin-top: 5px;
}

#menu-left .banner-balada-forte{
    margin-top: 5px;
}

#menu-left .banner-spot-120{
    margin-top: 5px;
}

/*** formatando data da edição ***/
#data-edicao{
    width: 652px;
    height: 17px;
    padding-top: 5px;
    float: left;
}

#data-edicao span{
    font-size: 0.74em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: block;
    text-align: right;
}

/*** formatando conteúdo principal ***/
#conteudo-principal{
    width: 468px;
    margin-left: 10px;
    float: left;
}

#conteudo-principal .titulo-quadro{    
    background: #000000 url(../images/img_news_canto02.gif) no-repeat right center;
    width: 457px;
    margin-top: 16px;
}

#conteudo-principal .titulo-quadro span{
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
    margin-left: 3px;
}

/* conteúdo principal - box de notícias */
#conteudo-principal .box-noticias{
    width: 455px;
    height: 210px;
    border: 1px solid #c8c8c8;
    padding-top: 10px;
}

#conteudo-principal .box-noticias .dot{
    color: red;
}

#conteudo-principal .box-noticias .news a{
    margin-bottom: -10px;
    display: block;
    width: 250px;
    margin-left: 10px;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

#conteudo-principal .box-noticias .news a:hover{
    text-decoration: underline;
}

#conteudo-principal .box-noticias .data{
    font-weight: normal;
}

#conteudo-principal .box-noticias .news{
    float: left;
    margin-right: 10px;
}

#conteudo-principal .box-noticias .dj-store{
    float: left;
    margin-bottom: 45px;
}

#conteudo-principal .box-noticias .veja-mais{
    clear: both;
    display: block;
    width: 457px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    color: #000000;
}

#conteudo-principal .box-noticias .veja-mais:hover{
    text-decoration: underline;
}

/* conteúdo principal - box black music */
#conteudo-principal .box-black{
    width: 457px;
    height: 328px;
    background: #c2c2c2;
}

#conteudo-principal .box-black .hiphop{
    display: block;
    margin-top: -15px;
    font-size: 0.9em;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding-left: 10px;
}

#conteudo-principal .box-black .hiphop:hover{
    text-decoration: underline;
}


/* conteúdo principal - box kaleidoscópio */
#conteudo-principal .titulo-kaleidoscopio{    
    background: #000000 url(../images/img_news_canto02.gif) no-repeat right center;
    width: 312px;
    margin-top: 16px;
}

#conteudo-principal .titulo-kaleidoscopio span{
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
    margin-left: 3px;
}

#conteudo-principal .kaleidoscopio{
    width: 370px;
}

#conteudo-principal .kaleidoscopio .txt-kalei{
    width: 170px;
    height: 40px;
    background: #c2c2c2;
    font-size: 0.8em;
    float: right;
}

#conteudo-principal .kaleidoscopio .txt-kalei p{
    padding-left: 5px;
    padding-top: 5px;
    margin: 0;
}


/* conteúdo principal - box luka */
#conteudo-principal .titulo-luka{    
    margin-left: 104px;
    background: #000000 url(../images/img_news_canto02.gif) no-repeat right center;
    width: 312px;
    margin-top: 16px;
}

#conteudo-principal .titulo-luka span{
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
    margin-left: 3px;
}

#conteudo-principal .luka{
    width: 370px;
    margin-left: 104px;
}

#conteudo-principal .luka .txt-luka{
    width: 170px;
    height: 40px;
    background: #c2c2c2;
    font-size: 0.8em;
    float: left;
}

#conteudo-principal .luka .txt-luka p{
    padding-left: 5px;
    padding-top: 5px;
    margin: 0;
}

/* conteúdo principal - diversos */
#conteudo-principal .titulo-box-1{
    background: #000000 url(../images/img_news_canto02.gif) no-repeat right center;
    width: 248px;
    margin-top: 16px;
}

#conteudo-principal .titulo-box-1 span{
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
    margin-left: 3px;
}

#conteudo-principal .mulato .txt-mulato{
    width: 248px;
    height: 24px;
    background: #c2c2c2;
    font-size: 0.8em;
}

#conteudo-principal .mulato .txt-mulato p{
    padding-left: 5px;
    padding-top: 5px;
    margin: 0;
}

#conteudo-principal .tommy .txt-tommy{
    width: 248px;
    height: 40px;
    background: #c2c2c2;
    font-size: 0.8em;
}

#conteudo-principal .tommy .txt-tommy p{
    padding-left: 5px;
    padding-top: 5px;
    margin: 0;
}

/*------------------------------------------------*/
#conteudo-principal .titulo-box-2{
    margin-left: 228px;
    background: #000000 url(../images/img_news_canto02.gif) no-repeat right center;
    width: 228px;
    margin-top: 16px;
}

#conteudo-principal .titulo-box-2 span{
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
    margin-left: 3px;
}

#conteudo-principal .dj-mystical .txt-mystical{
    margin-left: 228px;
    width: 228px;
    height: 40px;
    background: #c2c2c2;
    font-size: 0.8em;
}

#conteudo-principal .dj-mystical .txt-mystical p{
    padding-left: 5px;
    padding-top: 5px;
    margin: 0;
}

#conteudo-principal .expo .txt-expo{
    margin-left: 228px;
    width: 228px;
    height: 52px;
    background: #c2c2c2;
    font-size: 0.8em;
}

#conteudo-principal .expo .txt-expo p{
    padding-left: 5px;
    padding-top: 5px;
    margin: 0;
}

/* últimos links do conteúdo principal */
#conteudo-principal .end-page{
    width: 468px;
    height: 20px;
    margin-top: 20px;
    background: #000000;
}

#conteudo-principal .end-page p{
    padding: 4px;
    font-size: 0.7em;
    text-align: center;
}

#conteudo-principal .end-page a{
    color: #ffffff;
    text-decoration: none;
}

#conteudo-principal .end-page a:hover{
    text-decoration: underline;
}

/*** formatando o conteúdo da coluna lateral direita ***/
#conteudo-lateral{
    width: 159px;
    margin-left: 5px;
    float: left;
}

/* box formulário da newsletter */
#conteudo-lateral .newsletter{
    width: 156px;
    height: 112px;
    background: #7d7d7d;
}

#conteudo-lateral .newsletter span{
    font-size: 0.9em;
    font-weight: bold;
    color: #ffffff;
    margin-left: 10px;
}

#conteudo-lateral .newsletter p{
    font-size: 0.7em;
    margin-top: -2px;
    margin-left: 10px;
    margin-right: 10px;
}

#conteudo-lateral form{
    margin-top: -10px;
}

#conteudo-lateral .newsletter .email{
    margin-left: 10px;
    width: 127px;
}

#conteudo-lateral .newsletter img{
    margin-left: 10px;
    margin-top: 4px;
}

#conteudo-lateral .newsletter .ok{
    padding: 0;
    width: 22px;
    height: 18px;
    margin-top: 6px;
    margin-left: 80px;
    font-size: 0.8em;
    font-family: Consolas, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: #7d7d7d;
}

#conteudo-lateral .newsletter .ok:hover{
    cursor: pointer;
}

#conteudo-lateral .base{
    margin-left: 12px;
    margin-bottom: 10px;
    display: block;
}

#conteudo-lateral .lado{
    float: right;
    margin-top: -130px;
}

/* techno records */
#conteudo-lateral .techno{
    text-align: center;
    margin-top: -10px;
}

#conteudo-lateral .techno p{
    font-size: 0.8em;
    margin-top: -3px;
}

#conteudo-lateral .techno a{
    color: #000000;
    text-decoration: none;
}

#conteudo-lateral .techno a:hover{
    text-decoration: underline;
}

/* compre aqui e discos */
#conteudo-lateral .compre-aqui{
    text-align: center;
}

#conteudo-lateral .compre-aqui .compre{
    margin-bottom: 10px;
}

#conteudo-lateral .compre-aqui p{
    font-size: 0.7em;
    font-weight: bold;
    margin-top: -4px;
}

#conteudo-lateral .compre-aqui a{
    text-decoration: none;
    color: #000000;
}

#conteudo-lateral .compre-aqui span{
    font-weight: normal;
}

/* banners diversos */
#conteudo-lateral .sortudos{
    width: 132px;
    height: 67px;
    margin-left: 10px;
    background: #7d7d7d;
}

#conteudo-lateral .sortudos p{
    margin-left: 10px;
    margin-right: 20px;
    padding-top: 20px;
    margin-bottom: 0;
    font-size: 0.8em;
    color: #ffffff;
}

#conteudo-lateral .base-2{
    margin-left: 10px;
}

#conteudo-lateral .lado-2{
    margin-top: -80px;
    margin-left: -6px;
}

/*----------------------------------------*/
#conteudo-lateral .banners{
    margin-top: 10px;
    margin-left: 10px;
}

/*** formatando o rodape ***/
#footer{
    width: 774px;
    height: 100px;
    margin-bottom: 10px;
}

#footer .rodape-1{
    width: 148px;
    height: 100px;
    background: url(../images/img_faixa_inf04.jpg) no-repeat bottom;
    float: left;
}

#footer .rodape-1 span{
    font-size: 0.7em;
    display: block;
}

#footer .rodape-1 span:hover{
    text-decoration: underline;
}

/*--------------------------------------*/
#footer .rodape-2{
    width: 607px;
    height: 87px;
    margin-top: 13px;
    background: #7d7d7d;
    float: left;
}

#footer .rodape-2 .publicidade p{
    margin-top: -47px;
    margin-left: 55px;
    margin-bottom: 14px;
    width: 68px;
    font-size: 0.7em;
    color: #ffffff;
    transform: rotate(-90deg);
}

#footer .rodape-2 .banner-building{
    margin-left: 100px;
    margin-top: -49px;
}

#footer .rodape-2 h6{
    color: #fff;
    margin-left: 155px;
    margin-top: -1px;
}

/*--------------------------------------*/
#footer .rodape-3{
    width: 13px;
    height: 100px;
    background: #7d7d7d url(../images/img_faixacinza_inf03.gif) no-repeat top;
    float: left;
}